#blog-banner-area{
    background-image: url("../images/blog-section-image.png");
    height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

#blog-banner-area .container{
    width: 100%;
}

.blog-title{
    font-weight: 500;
    font-size: 50px;
}

#blog-banner-area image{
    width: 100%;
    height: auto;
}

.blog-year-section{
    margin-bottom: 30px;

}

.blog-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}


.blog-display{
    height: 100%;
    background-color: #1a1a1a;
    border-radius: 10px;
    transition: background-color .5s, transform .5s;
    max-width: 300px;
}

.blog-display:hover{
    background-color: #222222;
    transform: translateY(-20px);
}

.blog-display-content-image{
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.blog-display-content-image img{
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.blog-display-content-text-assets{
    padding: 20px;
    border-radius: 10px;
}

.blog-display-title{
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blog-display-title-p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 10px 0;
    color: darkgray;
}

.blog-display-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blog-display-small-text{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin: 10px 0;
    display: inline-block;
    font-size: 10px;
}

@media only screen and (max-width: 900px){

    #header{
        width: 100%;
        height: 100px;
    }

    .blog-list{
        display: grid;
        grid-template-columns: repeat(auto, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }

    .blog-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }

    .blog-display{
        height: 100%;
        background-color: #1a1a1a;
        border-radius: 10px;
        transition: background-color .5s, transform .5s;
        max-width: 100%;
    }
}