#intro h1{
    font-size: 50px;
}

#header{
    width: 100%;
    height: 80px;
}

#intro{
    background-color: #000701;
}

.date-small-text{
    color: darkgray;
    font-style: italic;
}

.blog-title{
    margin: 30px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.blog-prime-image{
    width: 100%;
    height: 50vh;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    border-radius: 15px;
    
}

.blog-prime-image img{
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.blog-content{
    margin: 50px 0;
}


.blog-content-details{
    flex-basis: 60%;
}

.blog-content-details p{
    color: darkgray;
}

.blog-inline-media-container{
    margin: 30px 0;
}

.blog-inline-media-container img{
    border-radius: 5px;
    width: 100%;
    height: auto;
}


.blog-inline-media-container video{
    border-radius: 5px;
    width: 100%;
    height: auto;
}


@media only screen and (max-width: 600px){

    #header{
        width: 100%;
        height: 50px;
    }
    
    .date-small-text{
        font-size: 10px;
    }

    #intro h1{
        font-size: 20px;
    }

    .blog-title{
        margin: 10px 0;
    }

    .blog-content{
        margin: 20px 0;
    }

    .blog-content-details{
        flex-basis: 100%;
    }
    
    .blog-inline-media-container{
        margin: 15px 0;
    }

    .blog-prime-image img{
        border-radius: 15px;
        width: auto;
        height: 100%;
    }

}