# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Alwin Joshy Portfolio
email: flamencoresonance@gmail.com
description: >- 
I am a passionate Game Developer specializing in technical art, I immerse myself in the intricacies of optimizing performance and enhancing visual aesthetics to create truly unforgettable gaming experiences.
With a deep understanding of Unity3D and its capabilities, I meticulously craft core game systems that operate independently, seamlessly integrating with other components for a smooth and immersive gameplay journey. My expertise lies in pushing the boundaries of optimization and shader development, ensuring that every aspect of the game contributes to both visual excellence and efficient performance.
Through my journey of developing and publishing games, I've honed my skills in problem-solving, effective project management, and collaboration within cross-functional teams. Whether it's implementing captivating VFX and particle effects or fine-tuning gameplay mechanics, I thrive on the challenges of bringing visions to life.
Constantly exploring new skills and techniques, I remain at the forefront of industry trends and technologies, always eager to share insights and collaborate with fellow game developers. Feel free to explore my portfolio and let's connect to delve deeper into the art and science of creating exceptional gaming experiences together.

url: https://alwinjoshy.github.io # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: Alwin Joshy
github_username:  AlwinJoshy

baseurl: /altechart # the subpath of your site, e.g. /blog

newbaseurl: testValue
# Build settings
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
